
{{> header title='SHAKA POLYTECHNIC' motto='Education,Excellence and service'}}

<form action="/create" method="post" class="mt-5">
  <div class="form-container container">
    {{!-- <center>
      <p>Education,Excellence and service </p>
    </center> --}}
    <hr />
    <p>
      <center>
        <b> <i> Registration form </i> </b>
      </center>
    </p>
    <hr />
    <label for="Firstname"><b> Firstname</b> </label>
    <input
      type="text"
      name="firstname"
      placeholder="Enter firstname"
      required
    />
    <label for="Middlename"><b> Middlename</b> </label>
    <input
      type="text"
      name="middlename"
      placeholder="Enter middlename"
      required
    />
    <label for="Lastname"><b> Lastname</b> </label>
    <input type="text" name="lastname" placeholder="Enter lastname" required />
    <div>
      <label for="Matriculation number"><b> Matriculation number</b>
      </label>
      <input
        type="text"
        name="matriculationNumber"
        placeholder="Enter Matriculation number"
        required
      />
      <label> <b> Department: </b> </label>
      <select name="department" required>
        <option>select department</option>
        <option value="Accounting">Accounting</option>
        <option value="Business Administration">
          Business Administration
        </option>
        <option value="Computer Engineering">Computer Engineering</option>
        <option value="Electrical Engineering">
          Electrical Engineering
        </option>
        <option value="Estate Management">Estate Management</option>
        <option value="Mass Communication">Mass Communication</option>
        <option value="Public Administration">Public Administration</option>
        <option value="Science Laboratory Technology">
          Science Laboratory Technology
        </option>
      </select>
    </div>
    <div>
      <label>
        <b> Program: </b>
        <input type="radio" name="program" value="OND" required />OND
        <input type="radio" name="program" value="HND" required />HND
      </label>
      <div>
        <label> <b> Level: </b> </label>
        <select name="level" required>
          <option>Level</option>
          <option value="1.1">1.1</option>
          <option value="1.2">1.2</option>
          <option value="2.1">2.1</option>
          <option value="2.2">2.2</option>
        </select>
      </div>
      <div>
        <label> <b> Gender: </b> </label>
        <input type="radio" name="gender" value="male" required />Male
        <input type="radio" name="gender" value="female" required />Female
      </div>
      <div>
        <label> <b> Current Address: </b> </label>
        <textarea name="address"
          cols="80"
          rows="5"
          placeholder="Enter Current Address"
          required
        ></textarea>
      </div>
      <label for="email"> <b> Email </b> </label>
      <input type="text" name="email" placeholder="Enter email address" required />
      <div style="text-align: center">
        <input type="submit" name="submit" class="button" value="Submit" />
      </div>
      <p>EMAIL:<a href="mailto:support@shakapoly.edu.ng">  support@shakapoly.edu.ng </a></p>
      <p>WEBSITE:<a href="https://www.shakapoly.edu.ng" target="_blank" >  www.shakapoly.edu.ng </a></p>
    </div>
  </div>
</form>