
  
  {{> header title='SHAKA POLYTECHNIC' motto='Education,Excellence and service'}}

<section class="thank-you-section card text-center  container mt-5">
  <h1 class="pt-3 fw-bold"> THANK YOU! </h1>

    <div class="d-grid justify-content-center">
      <div class="fa fa-check"></div>
      <p class="">Thanks a
        bunch for filling that out. It means a lot to us, just like you do! We
        really appreciate you giving us a moment of your time today. Thanks for
        being you.
      </p>
    </div>

    <footer class="py-3">
      <a href="mailto:support@shakapoly.edu.ng">  support@shakapoly.edu.ng </a> || <a href="https://www.shakapoly.edu.ng" target="_blank" >  www.shakapoly.edu.ng </a>
      <p class="fw-lighter">Copyright ©2022 | All
        Rights Reserved</p>
    </footer>
</section>