
  
  {{> header title='SHAKA POLYTECHNIC' motto='Education,Excellence and service'}}

    <h1 class="site-header" id="header">
      <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
    </h1>

    <div class="main-content">
      <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
      <p class="main-content__body" data-lead-id="main-content-body">Thanks a
        bunch for filling that out. It means a lot to us, just like you do! We
        really appreciate you giving us a moment of your time today. Thanks for
        being you.</p>
    </div>


    <footer class="site-footer" id="footer">
      <a href="mailto:support@shakapoly.edu.ng">  support@shakapoly.edu.ng </a> || <a href="https://www.shakapoly.edu.ng" target="_blank" >  www.shakapoly.edu.ng </a>
      <p class="fw-lighter">Copyright ©2022 | All
        Rights Reserved</p>
    </footer>