@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
  font-family: New time Roman, Helvetica, sans-serif;
  padding: 0 !important;
}
.bg-dark { 
  /* header */
  background: #d76a71;
  background: -moz-linear-gradient(-45deg, #d76a71 0%, #47b39a 100%);
  background: -webkit-linear-gradient(-45deg, #d76a71 0%, #47b39a 100%);
  background: linear-gradient(135deg, #d76a71 0%, #47b36f 100%);
}
a {
  text-decoration: none !important;
}
.form-container {
  padding: 50px;
  background-color: lightgreen;
  padding: 10px 0;
  text-align: left;
}
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: lawngreen;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}

.table__head {
  color: #fff;
  font-weight: 700;
  background: #6a9fd7;
  background: -moz-linear-gradient(-45deg, #6a9fd7 0%, #47b39a 100%);
  background: -webkit-linear-gradient(-45deg, #6a9fd7 0%, #47b39a 100%);
  background: linear-gradient(135deg, #6a9fd7 0%, #47b39a 100%);
  white-space: nowrap;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #fff;
}
.site-header, 
.site-footer {
  padding-top: 20px !important;
}
.list-group-item {
  text-align: left !important;
}